h1 {
    text-align : center;
}

#user_count {
    float : right;
}

#upload_spinner {
    display : none;
}

#po_uploader {
    margin-bottom : 15px;
    margin-top : 10px;
}

#iframe {
    height : 600px;
    width : 100%;
}

a {
    color: black;
    font-style: italic;
}

a:hover {
    background-color: #FFF4A2;
    border: 1px solid #FFE944;
}

#get_code {
    float: right;
}

#get_url {
    float: left;
}

#url_view {
    color: #383838;
    font-style: italic;
}

